<header class="container d-flex align-items-center my-3">
  <img src="assets/images/dfp-logo.png" class="img-fluid" alt="Damn Fine Pizza logo" />
  <h1>DAMN FINE PIZZA</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Need to complete routing still -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/drinks">Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
