<footer class="bg-black text-white py-4">
  <div class="container">
    <div class="row">

      <!-- Address info -->

      <div class="col-md-4 text-center text-md-start mb-3">
        <h5>Visit Us</h5>
        <p>
          Damn Fine Pizza<br>
          1307 Bay Street<br>
          Port Orchard, WA 98366
        </p>
      </div>

      <!-- Hours of Operation -->

      <div class="col-md-4 text-center mb-3">
        <h5>Hours</h5>
        <p>
          Tuesday-Thursday 11AM - 9PM <br>
          Friday-Saturday 11AM - 10PM <br>
          Sunday 11AM - 9PM <br>
          CLOSED MONDAYS
        </p>
      </div>

      <!-- Social media buttons/links -->

      <div class="col-md-4 text-center text-md-end mb-3">
        <h5>Follow Us!</h5>
        <a href="https://www.facebook.com/DamnFinePizza/" target="_blank" class="btn btn-outline-light btn-sm mx-1">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/damnfinepizzapo/" target="_blank" class="btn btn-outline-light btn-sm mx-1">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
