<div class="d-flex justify-content-start">
  <div class="text-start">
    <h3>Salad.</h3>
    <div *ngFor="let salad of salads">
      <div *ngIf="salad.additional_text === null; else saladAdditionalText">
        <h4>{{ salad.salad_name }} {{ salad.salad_price }}</h4>
        <p>{{ salad.salad_description }}</p>
      </div>
      <ng-template #saladAdditionalText>
        <h4>{{ salad.salad_name }} {{ salad.salad_price }}</h4>
        <p>{{ salad.salad_description }}</p>
        <p>{{ salad.additional_text }}</p>
      </ng-template>
    </div>
  </div>
</div>
