<div class="d-flex flex-column justify-content-center align-items-center">

  <!-- byo(Build Your Own) component displaying cheese list with additional prices -->
  <h3>CHEESE $2</h3>
  <div class="text-center">
    <span *ngFor="let cheese of allCheeses; let i = index">
      <span *ngIf="cheese.cheese_price <= 0; else cheeseAddedPrice">
        {{ cheese.cheese_name }} <span *ngIf="i < allCheeses.length - 1">•</span>
      </span>
      <ng-template #cheeseAddedPrice>
        <span> {{ cheese.cheese_name }} (+${{ cheese.cheese_price }})<span *ngIf="i < allCheeses.length - 1">•</span></span>
      </ng-template>
    </span>
  </div>
</div>
