<!-- Moved home page to home component -->

<div class="image-wrapper d-flex align-items-center justify-content-center text-center">

  <!-- Image container 1 - dfp-image-1 -->

  <a href="/menu" class="image-container d-flex align-items-center justify-content-center text-center">
    <img src="assets/images/pep-pizza.jpg" alt="Pepperoni Pizza displayed in a nice way" class="background-image" />
    <div class="overlay-text">
      <h2>MENU</h2>
    </div>
  </a>

  <!-- Image container 2 - dfp-image-2 -->

  <a href="/drinks" class="image-container d-flex align-items-center justify-content-center text-center">
    <img src="assets/images/selling-sunset.JPG" alt="Picture of a cocktail and a slice of pie" class="background-image" />
    <div class="overlay-text">
      <h2>DRINKS</h2>
    </div>
  </a>

</div>
<div class="image-wrapper d-flex align-items-center justify-content-center text-center">

  <!-- Image container 3 - dfp-image-3 -->

  <a href="/about" class="image-container d-flex align-items-center justify-content-center text-center">
    <img src="assets/images/night-bar.jpg" alt="Nice bar with waterfront in the background" class="background-image" />
    <div class="overlay-text">
      <h2>ABOUT</h2>
    </div>
  </a>

  <!-- Image container 4 - dfp-image-4 -->

  <a href="/social-events" class="image-container d-flex align-items-center justify-content-center text-center">
    <img src="assets/images/trivia-night.jpg" alt="Trivia picture" class="background-image" />
    <div class="overlay-text">
      <h2>SOCIALS/EVENTS</h2>
    </div>
  </a>

</div>
