<div class="container-fluid">
  <h3>MEAT</h3>

  <!-- byo(Build Your Own) component displaying meat list by name and separated by price -->
  <span>$3-</span>
  <span *ngFor="let meatPriceThree of meatPriceByThree; let i = index">
    {{ meatPriceThree.meat_name }}<span *ngIf="i < meatPriceByThree.length - 1"> • </span>
  </span>
  <span *ngFor="let meatPriceThree of meatPriceByThree; let i = index">
    {{ meatPriceThree.meat_name }}<span *ngIf="i < meatPriceByThree.length - 1"> • </span>
  </span>
</div>
